<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="LrHdrUnlock">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Unlock Lightroom HDR display" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>